<div class="row-fluid row-padded">
	<div class="span12">
	  	<form class="">
	  		<p>Thank you for registering. Please confirm your details, and choose a House/Flat name </p>
	  		<label>Email: </label><input class="span12" type="text" ng-model="user.email" disabled="disabled"/><br/>
	  		<label>First Name: </label><input class="span12" type="text" ng-model="user.first_name"/><br/>
	  		<label>Last Name: </label><input class="span12" type="text" ng-model="user.last_name"/><br/>
	  		<label>Choose a House/Flat Name: </label><input class="span12" type="text" ng-model="habitat.name"/><br/> 
	  		<input class="btn btn-block btn-large" type="submit" ng-click="save(user, habitat)"/>
	  	</form>
  	</div>
</div>
