<div class="">
  	<form>
  		<p>Thank you for registering. Please confirm your details, and choose a House/Flat name </p>
  		<label>Email: <input type="text" ng-model="user.email" disabled="disabled"/></label><br/>
  		<label>First Name: <input type="text" ng-model="user.first_name"/></label><br/>
  		<label>Last Name: <input type="text" ng-model="user.last_name"/></label><br/>
  		<label>Choose a House/Flat Name: <input type="text" ng-model="habitat.name"/></label><br/> 
  		<input type="submit" ng-click="save(user, habitat)"/>
  	</form>
  
</div>
